@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Roboto+Condensed:wght@700&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
    


:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: font-family: 'Passion One', cursive;
    --fonte3: font-family: 'Patrick Hand', cursive;
}
*{
    margin: 0px;
    padding: 0px;
   
}
html,body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    
}
header > p{
    padding-bottom: 50px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;

}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 1.5em;
}
section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(77, 77, 77);
    color: white;
    
    
}
section.imagem > p{
    background-color: rgb(55, 54, 54);
    width: 400px;
    padding: 5px;
}
footer{
    background-color:black;
    color: white;
    text-align: center;
    padding:10px;  
}
